<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="static/style.css">
    <script defer src="static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="card">
        <img src="static/myimage.jpg" alt="Profile Picture" class="profile-pic">
        <h1 class="name">ADEL A.M</h1>
        <p class="role">100 Days of Python</p>
        <div class="social-links">
            <a href="https://instagram.com/___a_d_e_l/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/ADELAITMOUALI" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/adel-ait-mouali-a07020237" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</body>
</html>
